{% extends 'form.html.twig' %}

{% set pageTitle =  'Inscription' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('registerPage') }}
{% endblock %}

{% block formTitle %}
    {{ pageTitle }}
{% endblock %}

{% block form %}

    {{ form_start(registrationForm) }}
            <div id="registerFormContainer">

                <div class="custom_error">
                    {{ customError|default('') }}
                </div>

                {{ form_row(registrationForm.username) }}

                {{ form_row(registrationForm.plainPassword) }}

                {{ form_row(registrationForm.email) }}

                {#{{ form_row(registrationForm.birthDate) }}#}

                {#<date-picker></date-picker>#}

                <button class="w3-button w3-green">S'inscrire</button>

                <a class="w3-button w3-red form-cancel-btn" href="{{ path('default') }}">Retour à l'accueil</a>

            </div>


    {{ form_end(registrationForm) }}



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('registerPage') }}

{% endblock %}