{% extends 'form.html.twig' %}

{% set pageTitle =  'Connexion' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('loginPage') }}
{% endblock %}

{% block formTitle %}
    {{ pageTitle }}
{% endblock %}

{% block form %}

    <form method="post">

        {% if error %}
            <div class="form-btn w3-red">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <label for="inputUsername" >Nom d'utilisateur</label>
        <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus>
        <label for="inputPassword">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" >

        <button class="w3-button w3-green form-btn" type="submit">Se connecter</button>

        <a class="w3-button  w3-blue form-btn" href="{{ path('app_register') }}">S'inscrire</a>

        <a class="w3-button  w3-red form-btn" href="{{ path('default') }}">Retour à l'accueil</a>

    </form>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('loginPage') }}
{% endblock %}