{% extends 'form.html.twig' %}

{% set pageTitle =  'Mon Compte' %}

{% block title %}
    {{ pageTitle }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css" rel="stylesheet">
        .background-image {
            background-image: url('/images/siteVitrine/BGImgProfile.jpg');
            filter: brightness(0.6) contrast(0.9)
        }


    </style>

{% endblock %}

{% block formTitle %}
    {{ pageTitle }}
{% endblock %}

{% block form %}


    <a class="w3-button w3-blue form-cancel-btn" href="{{ path('app_get_personnal_data') }}" target="_blank">Récupérer mes données</a>

    <a class="w3-button w3-black form-cancel-btn" href="{{ path('app_unregister') }}">Se désinscrire</a>

    <a class="w3-button w3-red form-cancel-btn" href="{{ path('default') }}">Retour à l'accueil</a>



{% endblock %}

{% block javascripts %}

    {{ parent() }}

{% endblock %}