{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}

    {{ parent() }}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    {{ encore_entry_link_tags('defaultPage') }}

{% endblock %}

{% block body %}

    <!------------>
    <!-- Navbar -->
    <!------------>

    <!-- Navbar (sit on top) -->
    <div class="w3-top" id="navbarContainer">

        <div class="w3-bar" id="myNavbar">

            <a href="#home" class="w3-bar-item w3-button" onclick="hideNavBar()"><i class="fa fa-home"></i><span class="link-title"> HOME</span></a>
            <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-info"></i><span class="link-title"></span> A PROPOS</a>
            <a href="#contact" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i><span class="link-title  "></span> CONTACT</a>
            <a href="{{ path('user', {}) }}" class="w3-bar-item w3-button w3-hide-small"><i class="fas fa-sign-in-alt"></i><span> APP</span></a>

            <div class=" w3-right w3-hide-small">
                {% if app.user %}

                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('easyadmin', {}) }}" class="w3-bar-item w3-button"><i class="fa fa-lock"></i><span class="link-title  "> ZONE ADMIN</span></a>
                    {% else %}
                        <a href="{{ path('app_account', {}) }}" class="w3-bar-item w3-button "><i class="fas fa-users-cog"></i><span class="link-title  "> MON COMPTE</span></a>
                    {% endif %}
                        <a href="{{ path('app_logout', {}) }}" class="w3-bar-item w3-button "><i class="fa fa-user-times"></i><span class="link-title "> SE DECONNECTER</span></a>
                {% else %}

                    <a href="{{ path('app_login',{}) }}" class="w3-bar-item w3-button "><i class="fa fa-user"></i><span class="link-title  "> SE CONNECTER</span></a>

                {% endif %}
            </div>

            <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
                <i class="fa fa-bars"></i>
            </a>

        </div>

        <!-- Navbar on small screens -->
        <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
            <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">A PROPOS</a>
            <a href="#contact" class="w3-bar-item w3-button" onclick="toggleFunction()">CONTACT</a>
            <a href="{{ path('user', {}) }}" class="w3-bar-item w3-button">APP</a>

            {% if app.user %}

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('easyadmin', {}) }}" class="w3-bar-item w3-button">ZONE ADMIN</a>
                {% else %}
                    <a href="{{ path('app_account', {}) }}" class="w3-bar-item w3-button">MON COMPTE</a>
                {% endif %}
                    <a href="{{ path('app_logout', {}) }}" class="w3-bar-item w3-button">SE DECONNECTER</a>

            {% else %}

                <a href="{{  path('app_login',{}) }}" class="w3-bar-item w3-button">SE CONNECTER</a>

            {% endif %}
        </div>

    </div>

    <!------------>
    <!-- Home -->
    <!------------>

    <!-- First Parallax Image with Logo Text -->
    <div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
        <div class="w3-display-middle" style="white-space:nowrap;">
           <img src="/images/logoEPHECSport.gif" style="width: 100%;" class="w3-opacity" alt="EPHEC Sport"/>
        </div>
    </div>

    <!------------>
    <!-- About -->
    <!------------>

    <!-- Container (About Section) -->
    <div class="w3-content w3-container w3-padding-64" id="about">

        <h3 class="w3-center"> A PROPOS</h3>
        <p class="w3-center"><em>Mens sana in corpore sano</em></p>

        <h4>Qui sommes-nous ?</h4>
        <p>EPHEC Sport est une association aux services des étudiants de l'<a href="https://www.ephec.be" title="site web de l'EPHEC" style="text-decoration: none">EPHEC</a>, proposants différants services centrés autour de la pratique du sport.</p>

        <h4>Que pouvons-nous t'apporter ?</h4>
        <ul>
            <li><p>tu pourras bénéficier de la carte sport de l’UCL u  de l'ULB (inscription à tout un panel de sports, réservation de terrain...)</p></li>
            <li><p>Si tu pratiques un sport d’équipe, tu pourras faire partie des équipes EPHEC représentées aux compétitions de l’ASUSFSUB, participer à des tournois...</p></li>
            <li><p>Si tu es considéré comme sportif(ve) de haut niveau, nous pourrons t'aider dans l’aménagement de tes horaires de cours et d’examens et à conjuguer au mieux ton double parcours d'étudiant et de sportif.</p></li>
        </ul>

        <h4>Que propose cette plateforme ?</h4>
        <p>Ce site web est un outil développé autour de trois axes</p>
        <div class="w3-row" id="about-gallery">
            <a href="#activities" class="w3-button w3-third w3-container w3-center about-gallery-item w3-padding-large">
                <p class="about-gallery-item-title"><b>Organiser</b></p>
                <p class="about-gallery-item-label">Activités et rencontres</p>
            </a>
            <a href="#promotion" class="w3-button w3-third w3-container w3-center about-gallery-item w3-padding-large">
                <p class="about-gallery-item-title"><b>Promouvoir</b></p>
                <p class="about-gallery-item-label">Equipes et sportifs</p>
            </a>
            <a href="#information" class="w3-button w3-third w3-container w3-center about-gallery-item w3-padding-large">
                <p class="about-gallery-item-title"><b>Informer</b></p>
                <p class="about-gallery-item-label">Sport, nutrition et santé</p>
            </a>
        </div>

    </div>



    <!------------------------->
    <!-- Bandeau quantitatif -->
    <!------------------------->

    <div class="w3-row w3-center w3-dark-grey w3-padding-16">
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">{{ userNumber|default('0') }}</span><br>
            Inscrit{% if userNumber > 1 %}s{% endif %}
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">{{ activityNumber|default('0') }}</span><br>
            Activité{% if activityNumber > 1 %}s{% endif %}<span class="w3-hide-medium"> créée{% if activityNumber> 1 %}s</span>{% endif %}
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">{{ teamNumber|default('0') }}</span><br>
            Equipe{% if teamNumber > 1 %}s{% endif %}<span class="w3-hide-medium"> EPHEC</span>
        </div>
        <div class="w3-quarter w3-section">
            <span class="w3-xlarge">{{ highLevelSportManNumber|default('0') }}</span><br>
            Sportif{% if highLevelSportManNumber > 1 %}s{% endif %}<span class="w3-hide-medium"> de haut niveau</span>
        </div>
    </div>



    <!------------------------->
    <!-- Activités           -->
    <!------------------------->

    <!-- Second Parallax Image with Portfolio Text -->
    <div class="bgimg-2 w3-display-container w3-opacity" id="activities">
        <div class="w3-display-middle">
            <span class="w3-text-white section-title" style="text-transform: uppercase">ORGANISATION</span>
        </div>
    </div>

    <!-- Container (Portfolio Section) -->
    <div class="w3-content w3-container w3-padding-64" >
        <h3 class="w3-center">Que faire ?</h3>
        <p class="w3-center"><em>Des dizaines d'activités ouvertes aux étudiants.<br> Mises à disposition par les mebres et gestionnaires de la plateforme de la plateforme.</em></p>

        <br>

        <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
        <div class="w3-row-padding w3-center w3-hide-small w3-grayscale">

            <div class="w3-col m3 activity-img-container" >
                <div id="activityImage1" class="activity-img w3-image">
                </div>
            </div>

            <div class="w3-col m3 activity-img-container" >
                <div  id="activityImage2" class="activity-img w3-image">
                </div>
            </div>

            <div class="w3-col m3 activity-img-container" >
                <div  id="activityImage3" class="activity-img w3-image">
                </div>
            </div>

            <div class="w3-col m3 activity-img-container" >
                <div  id="activityImage4" class="activity-img w3-image">
                </div>
            </div>

        </div>

        <div class="w3-row-padding w3-center w3-section">
            <a href="{{ path('user', {'section' : 'activity'}) }}" class="w3-btn w3-button w3-bar-item w3-button  w3-padding-large w3-light-grey w3-margin">Participer</a>
        </div>

    </div>




    <!------------------------->
    <!--     Promotion       -->
    <!------------------------->

    <!-- Third Parallax Image Promotion -->
    <div class="bgimg-3 w3-display-container w3-opacity" id="promotion">
        <div class="w3-display-middle">
            <span class="w3-text-white section-title" >PROMOTION</span>
        </div>
    </div>

    <!-- Container (Promotion Section) -->
    <div class="w3-content w3-container w3-padding-64" >
        <h3 class="w3-center">Qui suivre ?</h3>
        <p class="w3-center"><em>Suivez et supportez nos équipes et sportifs de haut niveau.</em></p>
        <p class="w3-center"><em>Soyez au courant de leurs plus grands exploits et venez les soutenir lors de leur prochaine rencontre.</em></p>
    </div>

    <div class="w3-content w3-container" >
        <div class="w3-row-padding w3-center w3-section">
            <a href="{{ path('user', {'section' : 'promotion'}) }}" class="w3-btn w3-button w3-bar-item w3-button  w3-padding-large w3-light-grey w3-margin">Soutenir</a>
        </div>
    </div>

    <!------------------------->
    <!--   Information       -->
    <!------------------------->

    <!-- Fourth Parallax Image Information -->
    <div class="bgimg-4 w3-display-container w3-opacity" id="information">
        <div class="w3-display-middle">
            <span class="w3-text-white section-title" >INFORMATION</span>
        </div>
    </div>

    <!-- Container (Information Section) -->
    <div class="w3-content w3-container w3-padding-64" >
        <h3 class="w3-center">Que retenir?</h3>
        <p class="w3-center"><em>Découvrer notre sélection de documentation.</em></p>
        <p class="w3-center"><em>Interrogez nos professionels de la santé partenaires.</em></p>
    </div>

    <div class="w3-row-padding w3-center w3-section">
        <a href="{{ path('user', {'section' : 'information'}) }}" class="w3-btn w3-button w3-bar-item w3-button  w3-padding-large w3-light-grey w3-margin">En savoir plus</a>
    </div>



    <!------------------------->
    <!--    Contact          -->
    <!------------------------->

    <!-- Fifth Parallax Image with Portfolio Text -->
    <div class="bgimg-5 w3-display-container w3-opacity" id="contact">
        <div class="w3-display-middle">
            <span class="w3-text-white section-title">CONTACT</span>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div class="w3-content w3-container w3-padding-64" >
        <h3 class="w3-center">Comment nous joindre?</h3>

        <div class="w3-row w3-padding-32 w3-section">
            <div class="w3-col m4 w3-container">
            </div>
            <div class="w3-col m8 w3-panel">
                <div class="w3-large w3-margin-bottom">
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Louvain-la-Neuve, BE<br>
                    <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Woluwe, BE<br>
                    <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Téléphone: 02/899.02.76<br>
                    <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-margin-right"></i> Email: e.clement@ephec.be<br>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Remonter</a>
        <div class="w3-xlarge w3-section">
            <a href="https://www.facebook.com/EphecSports/"><i class="fab fa-facebook-square"></i></a>
        </div>
        <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
    </footer>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="application/javascript">

        var navbar = document.getElementById("myNavbar");
        var navDemo = document.getElementById("navDemo");

        // Change style of navbar on scroll
        window.onscroll = function() {myFunction()};
        function myFunction() {
            var navbar = document.getElementById("myNavbar");
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                navbar.className = "w3-bar" + " w3-card"  + " w3-white";
            } else {
                navbar.className = navbar.className.replace(" w3-card w3-white", "");
            }
        }

        // Used to toggle the menu on small screens when clicking on the menu button
        function toggleFunction() {
            // var navbar = document.getElementById("myNavbar");

            if (navDemo.className.indexOf("w3-show") == -1) {
                navDemo.className += " w3-show";
                navbar.className += " mobile-menu-open";

            } else {
                navDemo.className = navDemo.className.replace(" w3-show", "");
                navbar.className = navbar.className.replace("mobile-menu-open", "");
            }
        }

        function hideNavBar() {
            navDemo.className = navDemo.className.replace(" w3-show", "");
        }

    </script>

    {{ encore_entry_script_tags('defaultPage') }}

{% endblock %}
